build/
install/
log/

pycache/
*.pyc
*.pyo
*.o
*.so
*.egg-info/

.venv/
*.bag
.db3

core.
tree_ros_ws.txt

LAB-cal-*
# editor temp
*.swp
*.swo

# runtime outputs
results/
src/yolov5_ros2/results/

# local calibration
LAB-cal*.json

# local misc
command
core.*
